.mainMenu {
  background-color: orange;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mainMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.mainMenu li {
  display: flex;
}

.mainMenu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.mainMenu a:hover {
  background-color: lightblue;
  color: black;
}

@media (max-width: 580px) {
  .mainMenu a {
    font-size: 10px;
  }
}

@media (max-width: 470px) {
  .mainMenu a {
    font-size: 8px;
  }
}

@media (max-width: 412px) {
  .mainMenu a {
    font-size: 6px;
  }
}

@media (max-width: 350px) {
  .mainMenu a {
    font-size: 4px;
  }
}
