@media (max-width: 800px) {
  .menuButton {
    width: 100%;
    position: fixed; /* Добавлено для фиксированного позиционирования */
    top: 0;
    left: 0;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
  }

  .menuModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue; /* Цвет фона модального окна */
    color: yellow; /* Цвет текста */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .menuModal.show {
    opacity: 1;
    pointer-events: auto;
  }

  .menuModal a {
    color: yellow; /* Цвет ссылок */
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }

  .closeButton {
    margin-top: 20px;
    background-color: red; /* Цвет кнопки закрытия */
    color: white; /* Цвет текста кнопки закрытия */
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}
