.questionSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.askQuestionForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #ffffa0;
  padding: 1rem;
  margin-top: -1rem;
  border-radius: 5px;
}

.nameInput {
  flex: 1;
  width: 25%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.emailInput {
  flex: 1;
  width: 25%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.questionInput {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.sendButton {
  width: 10%;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendButton:hover {
  background-color: #45a049;
}

.questionsList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #8aeee6;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding-top: 0;
}

.questionsHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  gap: 10px;
  padding: 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid #080000;
  background-color: #8aeee6;
}

.questionsHeader span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.questionsContent {
  flex: 1;
  overflow-y: auto;
  padding: 0 1rem;
}

.questionItem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  gap: 10px;
  padding: 0.5rem;
  border-bottom: 1px solid #010000;
  width: 100%;
}

.questionItem > * {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.questionItem:last-child {
  border-bottom: 1px solid #010000;
}

.questionText {
  white-space: normal;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.answerButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answerButton:hover {
  background-color: #d32f2f;
}
